@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }

    section#login {
        width: 80vw;
    }

    div#imagen {
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 70%;
    }

    form > input[type=submit] {
        background-image: linear-gradient(to right, #49a09d, #5f2c82 );
    }

    form > a.botao:hover {
        color: white;
        background-color: #5f2c82;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
    }

    section#login {
        width: 950px;
    }

    div#imagen {
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    form > input[type=submit] {
        background-image: linear-gradient(to right, #49a09d, #5f2c82 );
    }

    form > a.botao:hover {
        color: white;
        background-color: #5f2c82;
    }
}